<h1><%= @cocktail.name %></h1>
<p> Base Liquor: <%= @cocktail.base_liquor %></p>
<p> Ingredients: <%= @cocktail.ingredients %></p>
<p><a href="/cocktails/<%= @cocktail.id %>/edit">Edit</a></p>

<p><a href="/cocktails">Return To Cocktails</a></p>

    <br>
      <form action="/cocktails/<%= @cocktail.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn waves-effect waves-light" value="Delete">
          Delete
        </button>
      </form>

